/** Volgende CSS gaan we ze geven **/
* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0px auto;
}

.respimg {
    width: 100%;
    height: auto;
    display: block;
}


/* ALGEMEEN */

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    color: black;
    border-bottom: 2px solid black;
    font-weight: bolder;
    margin: 50px 0px;
}

.tussentitel {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff4d56;
    font-weight: 300;
}

h2 > a {
    text-decoration: none;
    color: black;
}

p {
    line-height: 2;
    color: #666;
}


/* HEADER */

header img {
    height: 50px;
    width: auto;
}

.logo {
    border-bottom: 1px solid #ebe8e8;
}

.logo > img {
    height: 50px;
}


/* NAVIGATION */
.nav {
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    margin: 20px 0px;
}

.nav > li > a {
    color: #5b4746;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav > li > a:hover {
    border-bottom: 2px solid #fff100;
}

.nav > li {
    width: 14%;
    text-align: center;
    padding: 10px 0px;
}

.border {
    border-right: 1px solid #ebe8e8;
}

/* MAIN HEADER */
.bg {
    background-image: url("images/headerimage.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
}

.bg > p {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px #8D99AE;
}

/* RECEPTEN */
.recipes {
    margin-top: 50px;
}

.recipe {
    margin-bottom: 20px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.author {
    font-weight: bold;
    color: #666 ;
    font-style: italic;
    border-right: 1px solid #ebe8e8;
    padding-right: 10px;
}

.date {
    color: #666;
    padding-left: 10px;
}

/* RECOMMENDED FOR YOU */
.row img {
    margin-bottom: 25px;
}


/* MAIN RECIPE ITEM */
.tekst{
    margin-right: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

/* MAIN RECIPE ITEM */
footer {
    margin: 0px !important;
    padding: 0px !important;
    border-top: 1px solid #ebe8e8;
}

.left {
    float: left;
    width: 50vw;
    text-align: right;
    padding: 20px 10px 20px 0px;
    line-height: 2em;
}

.right {
    float: left;
    width: 50vw;
    background-color: black;
    padding: 20px 0px 20px 10px;
    line-height: 2em;
}

.right p {
    color: white;
}

/* MEDIA-QUERIES FOR SCREEN SIZES */
@media only screen and (max-width: 769px) {
    body {
        width: 600px;
    }
}

@media only screen and (min-width: 770px) {
    header {
        width: 750px;
    }

    .recipe {
        width: 750px;
    }

    .recommended {
        width: 750px;
    }
}

@media only screen and (min-width: 771px) {
    .bg > p {
        font-size: 5em;
        padding: 204px 0px;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        width: 980px;
    }

    .recipe {
        width: 980px;
    }

    .recommended {
        width: 980px;
    }
}