thead #Month{
    background-color: rgb(250, 120, 120);
    text-align: center;
}
.dayNames td{
    background-color: rgb(35, 37, 70) !important;
    color: rgb(200, 190, 240);
}
.otherMonth{
    background-color: lightgray !important;
}
td:first-child{
    background-color: rgb(255, 220, 220);
}
td:last-child{
    background-color: rgb(255, 220, 220);
}
.dayOff{
    background-color: rgb(250, 120, 120);
}