.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto; /*3 kolommen*/
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}


